*{
  margin: 0;
  padding: 0
}

h1{
  color:red
}

label{
  color:blue
}

.error{
  color:red
}

.notification{
  color:green;
}

.error input{
 border: 1px solid red;
}

.notification input{
 border: 1px solid green;
}
